.navList {
  margin-bottom: 16px;
}

.navLink {
  color: #3e5060;
  padding: 4px;
  &.active {
    button {
      background: rgba(28, 89, 152, 0.04);
    }
  }
}

@media (max-width: 425px) {
  .navLink {
    button {
      font-size: 0.8rem;
    }
  }
}

@media (max-width: 320px) {
  .navList {
    flex-wrap: wrap;
  }
}
