.tags {
  display: flex;
  .link {
    text-decoration: none;
    color: black;
    margin-right: 8px;
    &:hover {
      background-color: #fe9870;
      color: aliceblue;
    }
  }
  .activeLink {
    background-color: #fe9870;
    overflow: hidden;
    border-radius: 16px;
    color: aliceblue;
  }
}
