.title {
  input {
    font-size: 42px;
    font-weight: 900;
  }

  div {
    &:before,
    &:after {
      display: none;
    }
  }
}

.previewImage {
  margin-top: 16px;
  border-radius: 16px;
  overflow: hidden;
  display: flex;
}

.image {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.tags {
  margin: 15px 0;
}

.editor {
  margin: 30px -30px;

  :global {
    .cm-s-easymde {
      border: 0;
      font-size: 22px;
      padding: 16px;
    }
    .editor-toolbar {
      border: 0;
      background-color: rgba(0, 0, 0, 0.02);
    }
  }
}

.buttons {
  display: flex;

  button {
    margin-right: 15px;
  }
}
