$blue: #4361ee;

.root {
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 16px;
  position: relative;

  &:hover {
    .editButtons {
      opacity: 1;
    }
  }

  &Full {
    display: flex;
    flex-direction: column-reverse;
    &:hover {
      background-color: #fff;
      box-shadow: none;
    }
  }
}

.image {
  width: 100%;
  height: 300px;
  object-fit: cover;

  &Full {
    min-height: 300px;
    height: 100%;
  }
}

.wrapper {
  padding: 16px 24px 24px;
}

.content {
  p {
    font-size: 22px;
    line-height: 36px;
  }
}

.preview {
  p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.d {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}

.title {
  font-size: 26px;
  margin: 0;
  color: #31364c;

  a {
    text-decoration: none;
    color: #31364c;

    &:hover {
      color: #1c5998;
    }
  }

  &Full {
    font-size: 42px;
    font-weight: 900;
  }
}

.indention {
  display: flex;
  flex-direction: column;
  .author {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 0;
    .date {
      color: #fe9870;
    }
  }
}

.tags {
  list-style: none;
  padding: 0;
  margin: 5px 0 0 0;

  li {
    display: inline-block;
    font-size: 14px;
    margin-right: 15px;
    opacity: 0.5;

    &:hover {
      opacity: 1;
    }

    a {
      text-decoration: none;
      color: #000;
    }
  }
}

.postDetails {
  list-style: none;
  padding: 0;
  margin: 16px 0 0 0;

  li {
    display: inline-flex;
    align-items: center;
    font-size: 14px;
    margin-right: 20px;
    opacity: 0.5;

    svg {
      font-size: 18px;
      margin-right: 5px;
    }
    &:hover {
      opacity: 1;
      cursor: pointer;
    }
  }
}

.skeleton {
  background-color: #fff;
  border: 1px solid #dedede;
  border-radius: 6px;
  overflow: hidden;
  margin-bottom: 15px;

  &Content {
    padding: 16px 0;
  }

  &Info {
    margin: 0 24px;
    .skeletonPrevText {
      margin: 16px 0;
    }
  }
}

.skeletonUser {
  display: flex;

  &Details {
    display: flex;
    flex-direction: column;
  }
}

.skeletonTags {
  display: flex;

  span {
    margin-right: 16px;
  }
}

.skeletonIcons {
  display: flex;
  margin-top: 16px;
  span {
    margin-right: 16px;
  }
}

.editButtons {
  position: absolute;
  right: 16px;
  bottom: 16px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 8px;
  opacity: 0;
  transition: all 0.15s ease-in-out;
}
.last {
  order: 99;
}
