.scrollBtn {
  position: fixed;
  left: 0;
  bottom: 0;
  top: 0;
  background-color: #ececec;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  opacity: 0.5;
  transition: all 0.3s ease;
  z-index: 3;
  &:hover {
    opacity: 1;
  }
}
