body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body::-webkit-scrollbar {
  width: 11px;
}

body::-webkit-scrollbar-thumb {
  border: 3px solid #fff;
  -webkit-border-radius: 6px;
  border-radius: 6px;

  background-color: #3e5060;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#root {
  background-color: #f4f6f8;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  font-family: 'Inter', sans-serif;
}

.main__content {
  flex: 1 auto;
  margin-bottom: 24px;
  position: relative;
}

a {
  text-decoration: none;
}

.post__image {
  margin: 8px 0;
  display: flex;
  justify-content: center;
  .img {
    max-width: 1152px;
    width: 100%;
    height: 100%;
  }
}

.inline__code {
  display: inline-block;
  background-color: lightgray;
  border-radius: 16px;
  padding: 8px;
}
