.formContainer {
  padding: 24px;
}

.title {
  input {
    font-size: 42px;
    font-weight: 900;
  }

  div {
    &:before,
    &:after {
      display: none;
    }
  }
}

.previewImage {
  margin-top: 16px;
  border-radius: 16px;
  overflow: hidden;
  display: flex;
}

.image {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.tags {
  margin: 15px 0;
}

.editor {
  margin: 24px -24px;

  :global {
    .cm-s-easymde {
      border: 0;
      font-size: 22px;
      padding: 16px;
    }
    .editor-toolbar {
      border: 0;
      background-color: rgba(255, 255, 255, 1);
    }
  }
}

.buttons {
  display: flex;

  button {
    margin-right: 15px;
  }
}

.loaderWrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.6);
}

@media (max-width: 425px) {
  .image {
    height: 200px;
  }
  .title {
    input {
      font-size: 27px;
    }
  }
}
